.cart-button__block {
    position: relative;
}

.cart-button {
    position: fixed;
    right: 40px;
    bottom: 46px;
    border-radius: 50%;
    background: rgba(255, 202, 64, 1);
    border: none;
    padding: 20px;
    transition: all 0.25s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-button:hover {
    transform: scale(1.15);
    background: rgb(211, 166, 53);;
}

.cart-button__icon {
    width: 35px;
    height: 35px;
    object-fit: cover;
}

.count-products {
    position: absolute;
    top: -5px;
    right: -2px;
    background-color: rgb(158, 108, 14);
    color: white;
    font-size: 12px;
    font-weight: bold;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: 1;
}